# ignore all files in root dir
/*

# files in root dir
!.gitignore
!.bashrc
!.spacemacs
!.Rprofile
!.zshrc
!.xinitrc
!.aspell.en.pws

# .vim/
!.vim

# .config dir
!.config/
.config/*

# i3
!.config/i3/
.config/i3/*
!.config/i3/config-generation.sh
!.config/i3/config.base
!.config/i3/config.desktop
!.config/i3/config.laptop

# i3blocks
!.config/i3blocks/

# termite
!.config/termite/

# ranger
!.config/ranger/
.config/ranger/*
!.config/ranger/rc.conf

# mpd
!.config/mpd/
.config/mpd/*
!.config/mpd/mpd.conf
!.config/mpd/sticker
