# ignore all files in root dir
/*

# files in root dir
!.gitignore
!.bashrc
!.spacemacs
!.Rprofile

# .vim/
!.vim

# .config dir
!.config/
.config/*

# i3
!.config/i3/
.config/i3/*
.config/i3/config-generation.sh

!.config/i3blocks/
!.config/termite/
!.config/ranger/

# ranger
.config/ranger/*
!.config/ranger/rc.conf